<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Sign Chat Login" />
        <activity
            android:name=".RegisterActivity"
            android:label="Sign Chat Register" />
        <activity
            android:name=".HomeActivity"
            android:label="Home" />
        <activity
            android:name=".ChangePasswdActivity"
            android:label="Change Password" />
        <activity
            android:name=".ChatRoomActivity"
            android:label="Chat Room" />
        <activity
            android:name=".ChatHistoryActivity"
            android:label="Chat History" />
        <activity
            android:name=".FileSendActivity"
            android:label="Send File" />
        <activity
            android:name=".utils.FileChooser"
            android:label="File Browser" />
        <activity
            android:name=".FileHistoryActivity"
            android:label="File History" />
        <activity
            android:name=".FileInboxActivity"
            android:label="File Inbox"></activity>
    </application>

</manifest>